<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NextOra.Ai</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="../static/assets/favicon.png">
</head>

<body class="nextora-custom-scrollbar custom-cursor">
  <div class="background">
    <canvas id="particles"></canvas>
    <div class="shape circle s1"></div>
    <div class="shape diamond s2"></div>
    <div class="shape circle s3"></div>
    <div class="shape diamond s4"></div>
    <div class="shape circle s5"></div>
    <div class="shape diamond s6"></div>
  </div>

  <header>
    <nav class="navbar">
      <a href="{{ url_for('home') }}" class="navbar-logo">
        <img src="../static/assets/logo.png" alt="Nextora Logo">
      </a>

      <div class="navbar-menu">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('home') }}#about">About</a>
        <a href="{{ url_for('journey_page') }}">Career Guide</a>
        <a href="{{ url_for('search_page') }}">Ai Navigator</a>
        <a href="{{ url_for('opportunities_page') }}">Opportunities</a>
      </div>

      <a href="{{ url_for('contact_page') }}" class="get-started-btn">Contact Us</a>

      <div class="wrapper-menu" onclick="toggleMenu()">
        <div class="line-menu half start"></div>
        <div class="line-menu"></div>
        <div class="line-menu half end"></div>
      </div>
    </nav>

  <div class="mobile-menu" id="mobileMenu">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('home') }}#about">About</a>
    <a href="{{ url_for('journey_page') }}">Career Guide</a>
    <a href="{{ url_for('search_page') }}">Ai Navigator</a>
    <a href="{{ url_for('opportunities_page') }}">Opportunities</a>

    <a href="{{ url_for('contact_page') }}" class="get-started-btn">Contact Us</a>
  </div>
  </header>

  <section class="cm-section">
    <h1 class="cm-heading">NextOra.AI - Career Guide</h1>

    <div class="cm-container">
      <form method="POST" action="/recommend">
        <input type="text" name="name" placeholder="Your Name" autocomplete="name" required>
        <input type="text" name="education" placeholder="Your Education Background" autocomplete="name" required>
        <input type="text" name="interests" placeholder="Your Interests" required>
        <input type="text" name="skill" placeholder="Your Key Skill" required>
        <input type="submit" value="Recommend My Career">
      </form>

      {% if recommendations|length > 0 %}
      <div class="cm-result">
        <h2>Hello {{ name.title() }}!</h2>
        <p class="cm-inp"><strong>🎓 Education:</strong> {{ education }}</p>
        <p class="cm-inp"><strong>💡 Interests:</strong> {{ interests }}</p>
        <p class="cm-inp"><strong>🛠 Skill:</strong> {{ skill }}</p>
        <p class="top3"><strong>Top 3 Recommended Careers:</strong></p>
        <ul>
          {% for career in recommendations %}
          <li class="career-item">{{ loop.index }} ➔ {{ career }}</li>
          {% endfor %}
        </ul>
        <div class="career-Deepbtn-wrapper">
          <a href="{{ url_for('search_page') }}" class="gradient-Deepbtn-outline">
            Start Your Journey 🚀
          </a>
        </div>
      </div>
      {% endif %}
    </div>
  </section>

  <footer class="nextora-footer">
    <div class="footer-container">

      <div class="footer-col footer-logo">
        <img src="../static/assets/logo.png" alt="Nextora Logo" class="footer-logo-img">
        <div class="footer-icons">
          <a href="https://www.facebook.com/" target="_blank"><img src="../static/assets/facebook-icon.gif"
              alt="icon1"></a>
          <a href="https://www.instagram.com/" target="_blank"><img src="../static/assets/instagram-icon.gif"
              alt="icon2"></a>
          <a href="https://www.linkedin.com/" target="_blank"><img src="../static/assets/linkdin-icon.gif"
              alt="icon3"></a>
          <a href="https://x.com/" target="_blank"><img src="../static/assets/twitter-icon.gif" alt="icon4"></a>
        </div>
      </div>

      <div class="footer-col">
        <h3 class="footer-heading gradient-text">Pages</h3>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('home') }}#about">About</a></li>
          <li><a href="{{ url_for('home') }}#service">Services</a></li>
          <li><a href="{{ url_for('contact_page') }}">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h3 class="footer-heading gradient-text">Explore</h3>
        <ul>
          <li><a href="{{ url_for('journey_page') }}">Career Guide</a></li>
          <li><a href="{{ url_for('search_page') }}">Ai Navigator</a></li>
          <li><a href="{{ url_for('opportunities_page') }}">Opportunities</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h3 class="footer-heading gradient-text">Get in Touch</h3>
        <ul>
          <li><a href="mailto:support@nextora.ai">support@nextora.ai</a></li>
          <li><a href="tel:+923001234567">+92 331 3235413</a></li>
          <li><a href="https://www.linkedin.com/in/hamza-shabbir-92b0302a5/" target="_blank">LinkedIn</a></li>
          <li><a href="https://github.com/hamza-ansarii" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2025 <span class="gradient-text">Nextora.AI</span> | Developed by <span class="gradient-text">Hamza
          Ansari</span></p>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>